header {
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-size: x-large;
    font-family: 'Goblin-one', sans-serif;
    background: linear-gradient(to right, lightblue, navy);
}

.title {
    color: black;
    font-size: large;
    font-weight: bold;
    font-family: 'Goblin-one', sans-serif;
}

.btn {
    background-color: navy;
    color: white;
    text-align: center;
}

.btn:hover {
    background-color: lightslategrey;
}

.current {
    margin: 10px;
    background-color: lightskyblue;
    color: navy;
}

.forecast {
    background-color: rgb(13, 37, 88);
    color: white;
    font-family: 'Goblin-one', sans-serif;
}

.storedBtn {
    background-color: lightgray;
    font-family: 'Goblin-one', sans-serif;
    color: black;
}

.storedBtn:hover {
    background-color: navy;
    color: white;
    text-align: center;
}

.favorable {
    background-color: lightgreen;
    color: black;
}

.moderate {
    background-color: yellow;
    color: black;
}

.severe {
    background-color: red;
    color: white;
}

.forecast {
    margin-bottom: 20px;
}

@media only screen and (max-width: 576px) {
    #stored-cities {
        display: none;
    }
}
